<template>
  <div class="list-of-projects text-center">
    <div
      v-for="(page, index) in collabs"
      :key="page.slug + '_' + index"
      class="thumb"
    >
      <router-link :to="'/collaborations/' + page.slug">
        <b-img-lazy
          class="img-circle"
          :src="page.fields.thumb"
          alt="Collab"
          blankColor="#bbb"
        ></b-img-lazy>
        <div class="filter-layer"></div>
        <p class="text-on-image">{{ page.fields.headline }}</p>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Collaborations",
  computed: {
    language() {
      return this.$store.state.language;
    },
    collabs() {
      return this.$store.getters.collabsByLang();
    }
  },
  methods: {
    fetchPages() {
      this.$store.dispatch("getCollabs");
    }
  },
  watch: {
    language: function() {
      this.fetchPages();
    }
  },
  created() {
    this.fetchPages();
  }
};
</script>

<style scoped>
.list-of-projects {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.thumb {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 212px;
  height: 212px;
  margin: 0 28px 50px 28px;
}
.img-circle {
  object-fit: cover;
  max-width: 212px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.filter-layer {
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.text-on-image {
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
}

@media (max-width: 375px) {
  .list-of-projects {
    width: 350px;
  }
  .thumb {
    width: 120px;
    height: 120px;
    margin: 0 12px 25px 12px;
  }
  .img-circle {
    width: 100%;
    height: 100%;
  }
  .text-on-image {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 12px;
  }
}
</style>
