<template>
  <div id="contact">
    <ContactDetails id="contactdetails"></ContactDetails>
    <ContactForm id="contactform"></ContactForm>
  </div>
</template>

<script>
import ContactDetails from "../components/ContactDetails";
import ContactForm from "../components/ContactForm";
export default {
  name: "Contact",
  components: { ContactForm, ContactDetails }
};
</script>

<style scoped>
#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#contactdetails {
  margin-top: 170px;
  margin-left: 180px;
}

#contactform {
  margin-top: 170px;
}

@media (max-width: 700px) {
  #contact {
    grid-template-columns: 1fr;
  }

  #contactdetails {
    margin-top: 97px;
    margin-left: 35px;
  }

  #contactform {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 35px;
  }
}
</style>
