<template>
  <div class="home">
    <div v-if="collab.fields.slide">
      <router-link :to="'/collaborations/' + collab.slug"
        ><img
          id="mainimage"
          :src="collab.fields.slide[0].image"
          alt="Collaboration"
      /></router-link>
      <div id="collab-description">
        <div id="collab-name">{{ collab.fields.headline }}</div>
        <div id="artist">{{ content[Lang()].artist }}:</div>
        <div>{{ collab.fields.author }}</div>
      </div>
      <img id="watermark" :src="watermark" alt="34co." />
    </div>
    <Spinner v-else></Spinner>
  </div>
</template>

<script>
import { butter } from "@/buttercms";
import Spinner from "../components/Spinner";
export default {
  name: "home",
  components: { Spinner },
  data: () => ({
    content: {
      ru: {
        artist: "Художник"
      },
      en: {
        artist: "Artist"
      }
    },
    collab: {
      fields: {}
    },
    watermark: "https://cdn.buttercms.com/1sGMObuqRaSe5d9IrOWU",
    plug:
      "https://res.cloudinary.com/dae8pypei/image/upload/v1555770330/34co/34co__intro__poster.jpg"
  }),
  methods: {
    getCollabs() {
      butter.page
        .list("collab")
        .then(res => {
          const collabs = res.data.data;
          this.collab = this.ExtractCollab(collabs);
        })
        .catch(res => {
          console.log(res);
        });
    },
    ExtractCollab: function(collabs) {
      for (let i = 0; i < collabs.length; i++) {
        const collab = collabs[i];
        if (collab.fields.tomain) {
          return collab;
        }
      }
    },
    Lang() {
      return this.$store.state.language;
    }
  },
  created() {
    this.getCollabs();
  }
};
</script>
<style scoped lang="scss">
.home {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#mainimage {
  position: absolute;
  right: 0;
  top: 0;
  object-fit: cover;
  height: 100vh;
}
#collab-description {
  position: fixed;
  top: 50px;
  right: 30px;
  font-size: 20px;
  color: #000;
  text-shadow: #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px;
  -webkit-font-smoothing: antialiased;

  #collab-name {
    margin-right: 50px;
  }

  #artist {
    font-weight: 300;
    margin-right: 10px;
  }

  div {
    display: inline-block;
  }
}

#watermark {
  position: fixed;
  right: 60px;
  bottom: 60px;
}

@media (max-width: 700px) {
  #collab-description {
    display: none;
  }
  #watermark {
    width: 89px;
    right: 20px;
    bottom: 20px;
  }
}
</style>
