<template>
  <div>
    Page not found
  </div>
</template>

<script>
export default {
  name: "NotFound"
};
</script>

<style scoped>
div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
