<template>
  <div class="list-of-projects text-center">
    <div v-if="page.fields.partner">
      <div
        v-for="partner in page.fields.partner"
        :key="partner.link"
        class="thumb"
      >
        <a :href="partner.link" :title="partner.name" target="_blank">
          <b-img class="img-circle" :src="partner.logo"></b-img>
        </a>
      </div>
    </div>
    <Spinner v-else></Spinner>
  </div>
</template>

<script>
import { butter } from "@/buttercms";
import Spinner from "../components/Spinner";
export default {
  name: "Partners",
  components: { Spinner },
  data() {
    return {
      page: {
        fields: {}
      }
    };
  },
  methods: {
    getPage() {
      butter.page
        .retrieve("*", "partners")
        .then(res => {
          console.log(res.data.data);
          this.page = res.data.data;
        })
        .catch(res => {
          console.log(res);
        });
    }
  },
  created() {
    this.getPage();
  }
};
</script>

<style scoped>
.list-of-projects {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.thumb {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 28px 50px 28px;
}
.img-circle {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

@media (max-width: 375px) {
  .list-of-projects {
    width: 350px;
    margin-top: 25px;
  }
  .thumb {
    width: 70px;
    height: 70px;
    margin: 0 12px 25px 12px;
  }
  .img-circle {
    width: 100%;
    height: 100%;
  }
}
</style>
