<template>
  <div class="list-of-projects text-center">
    <div v-if="projects.length">
      <div
        v-for="(page, index) in projects"
        :key="page.slug + '_' + index"
        class="thumb"
      >
        <router-link :to="'/projects/' + page.slug">
          <b-img-lazy
            class="img-circle"
            :src="page.fields.thumb"
            blankColor="#bbb"
          ></b-img-lazy>
          <p class="text-on-image">{{ page.fields.headline }}</p>
        </router-link>
      </div>
    </div>
    <Spinner v-else></Spinner>
  </div>
</template>

<script>
import Spinner from "../components/Spinner";
export default {
  name: "Projects",
  components: { Spinner },
  computed: {
    language() {
      return this.$store.state.language;
    },
    projects() {
      return this.$store.getters.projectsByLang();
    }
  },
  watch: {
    language: function() {
      this.fetchPages();
    }
  },
  methods: {
    fetchPages() {
      this.$store.dispatch("getPages");
    }
  },
  created() {
    this.fetchPages();
  }
};
</script>

<style scoped>
.list-of-projects {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.thumb {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 256px;
  height: 256px;
  margin: 0 28px 50px 28px;
}
.img-circle {
  object-fit: cover;
  border-radius: 50%;
  max-width: 256px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
}
.text-on-image {
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
}

@media (max-width: 375px) {
  .list-of-projects {
    width: 350px;
  }
  .thumb {
    width: 120px;
    height: 120px;
    margin: 0 12px 25px 12px;
  }
  .img-circle {
    width: 100%;
    height: 100%;
  }
  .text-on-image {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 12px;
  }
}
</style>
