<template>
  <div class="list-of-projects text-center">
    <div
      v-for="(page, index) in ServicesByLang"
      :key="page.slug + '_' + index"
      class="thumb"
    >
      <router-link :to="'/service/' + page.slug">
        <b-img-lazy
          class="img-circle"
          :src="page.fields.thumb"
          blankColor="#bbb"
        ></b-img-lazy>
        <p class="text-on-image">{{ page.fields.headline }}</p>
      </router-link>
    </div>
  </div>
</template>

<script>
import { butter } from "@/buttercms";

export default {
  name: "Service",
  data() {
    return {
      services: []
    };
  },
  computed: {
    language() {
      return this.$store.state.language;
    },
    ServicesByLang() {
      let itemsByLang = [];
      for (let i = 0; i < this.services.length; i++) {
        const item = this.services[i];
        if (item.fields.language === this.language) {
          itemsByLang.push(item);
        }
      }
      return itemsByLang;
    }
  },
  methods: {
    getPages() {
      butter.page.list("service", { order: "order" }).then(res => {
        this.services = res.data.data;
      });
    }
  },
  created() {
    this.getPages();
  }
};
</script>

<style scoped>
.list-of-projects {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.thumb {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 256px;
  height: 256px;
  margin: 0 28px 150px 28px;
}
.img-circle {
  object-fit: cover;
  border-radius: 50%;
  max-width: 256px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
}
.text-on-image {
  font-weight: 500;
  font-size: 25px;
  color: #272727;
  margin-top: 45px;
}

@media (max-width: 375px) {
  .list-of-projects {
    width: 350px;
  }
  .thumb {
    width: 120px;
    height: 120px;
    margin: 0 12px 65px 12px;
  }
  .img-circle {
    width: 100%;
    height: 100%;
  }
  .text-on-image {
    font-size: 12px;
    margin-top: 10px;
  }
}
</style>
