<template>
  <div>
    <div style="max-width: 450px" class="mx-auto">
      <b-embed
        type="video"
        aspect="1by1"
        autoplay
        muted
        playsinline
        poster="https://res.cloudinary.com/dae8pypei/image/upload/v1555770330/34co/34co__intro__poster.jpg"
      >
        <source
          src="https://res.cloudinary.com/dae8pypei/video/upload/v1555685739/34co/34co__intro.mp4"
          type="video/mp4"
        />
        <source
          src="https://res.cloudinary.com/dae8pypei/video/upload/v1555770674/34co/34co__intro--webm.webm"
          type="video/webm"
        />
      </b-embed>
    </div>
    <AboutComp></AboutComp>
  </div>
</template>

<script>
import AboutComp from "@/components/AboutComp";
import { butter } from "@/buttercms";
export default {
  name: "Soon",
  components: { AboutComp },
  created() {
    butter.post
      .list({
        page: 1,
        page_size: 10
      })
      .then(res => {
        console.log("Content from ButterCMS");
        console.log(res);
      });
  }
};
</script>

<style scoped></style>
