<template>
  <div>
    <div v-if="!showslider" id="projectview">
      <div id="center-container">
        <div id="project">
          <h2>{{ page.fields.headline }}</h2>
          <div id="description">
            {{ page.fields.description }}
          </div>
          <div
            v-for="contact in page.fields.contact"
            :key="contact.position"
            class="mb-4 contact-info"
          >
            <div>{{ contact.position }}</div>
            <div>{{ contact.fio }}</div>
            <div>{{ contact.email }}</div>
            <div>{{ contact.phone }}</div>
          </div>
        </div>
      </div>
      <div
        v-if="page.fields.slide && page.fields.slide.length"
        class="right-container"
      >
        <img
          :src.sync="page.fields.slide[SlideIndex()].image"
          alt="image"
          @click="showslider = !showslider"
        />
        <div id="bullets">
          <div
            v-for="(item, index) in page.fields.slide"
            :key="item.image"
            :class="AddClasses(index)"
            @click="ChangeSlide(index)"
          ></div>
        </div>
      </div>
    </div>
    <div v-if="showslider" id="sliderview">
      <div id="slideview--right">
        <h2>{{ page.fields.headline }}</h2>
      </div>
      <div id="slideview--left">
        <b-btn-close
          id="closebutton"
          @click="showslider = !showslider"
        ></b-btn-close>
        <Slider v-if="page.fields.slide" :slides="page.fields.slide"></Slider>
      </div>
    </div>
  </div>
</template>

<script>
import { butter } from "@/buttercms";
import Slider from "../components/Slider";
export default {
  name: "Team",
  components: { Slider },
  data() {
    return {
      showslider: false,
      page: {
        slug: "",
        fields: {}
      },
      spinner:
        "https://res.cloudinary.com/dae8pypei/image/upload/v1555770330/34co/34co__intro__poster.jpg"
    };
  },
  computed: {
    lang() {
      return this.$store.state.language;
    }
  },
  watch: {
    lang: function() {
      this.getPage();
    }
  },
  methods: {
    getPage() {
      let slug = "team";
      if (this.lang === "en") {
        slug = slug + "_en";
      }
      butter.page
        .retrieve("*", slug)
        .then(res => {
          // console.log(res.data.data);
          this.page = res.data.data;
        })
        .catch(res => {
          console.log(res);
        });
    },
    /**
     * @return {string}
     */
    AddClasses(index) {
      if (index === this.$store.state.slideindex) {
        return "bullet current";
      } else {
        return "bullet";
      }
    },
    /**
     * @return {number}
     */
    SlideIndex() {
      return this.$store.state.slideindex;
    },
    ChangeSlide(index) {
      this.$store.commit("changeIndex", index);
    },
    Lang() {
      return this.$store.state.language;
    }
  },
  created() {
    this.getPage();
  }
};
</script>

<style scoped lang="scss">
#projectview {
  display: grid;
  grid-template-columns: 630px 1fr;
  grid-auto-rows: minmax(100px, 100vh);
}

#sliderview {
  display: grid;
  grid-template-columns: 206px 1fr;
  grid-auto-rows: minmax(100px, 100vh);
  #slideview--right {
    display: inline-block;
    position: relative;
    text-align: center;
    h2 {
      display: inline-block;
      font-family: "Montserrat Medium", sans-serif;
      font-size: 16px;
      color: #939393;
      width: 100px;
      margin-top: 200px;
    }
    .projects-switchers {
      display: inline-block;
      width: 100px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

#closebutton {
  z-index: 850;
  position: absolute;
  top: 20px;
  right: 20px;
}

#center-container {
  display: inline-block;
  position: relative;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 30px;
  height: 100vh;
}

#project {
  display: inline-block;
  padding-top: 120px;
  h2 {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 35px;
  }

  #description {
    margin-top: 35px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 16px;
    max-height: calc(100vh - 240px);
    min-height: 100px;
    overflow: scroll;
  }
}

.typeofservice {
  margin-bottom: 15px;
  cursor: pointer;
  text-transform: uppercase;
}

.right-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  img {
    object-fit: contain;
    height: 100vh;
  }
}

#bullets {
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 100%;
  /*text-align: center;*/
}
.bullet {
  display: inline-block;
  background-color: #939393;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 8px;
}
.current {
  background: black;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 50);
}

@media (max-width: 700px) {
  #projectview {
    grid-template-columns: 300px 1fr;
  }

  #sliderview {
    display: inline-block;
    #slideview--right {
      position: static;
      h2 {
        display: none;
      }
      .projects-switchers {
        position: absolute;
        display: inline-block;
        bottom: 20px;
        left: 20px;
        margin-right: 0;
        margin-left: 0;
      }
    }
    #slideview--left {
    }
  }

  #center-container {
    margin-left: 20px;
  }

  #project {
    padding-top: 90px;
    h2 {
      font-size: 16px;
    }
    #description {
      font-size: 12px;
      margin-top: 15px;
      margin-bottom: 15px;
      max-width: 290px;
      max-height: calc(100vh - 170px);
    }
    .contact-info {
      font-size: 13px;
    }
  }
}
</style>
