<template>
  <b-container class="mt-4">
    <h1 class="mb-4 font-weight-bold">34co.</h1>
    <hr />
    <ServiceList></ServiceList>
    <hr />
    <!--    <h4 class="mb-2">Почта</h4>-->
    <p class="mt-1 font-italic">34@34company.com</p>
    <hr />
    <PhoneNumbers></PhoneNumbers>
    <hr />
    <SocialNetworks></SocialNetworks>
  </b-container>
</template>

<script>
import SocialNetworks from "@/components/SocialNetworks";
import PhoneNumbers from "@/components/PhoneNumbers";
import ServiceList from "@/components/ServiceList";
export default {
  name: "AboutComp",
  components: { ServiceList, PhoneNumbers, SocialNetworks }
};
</script>

<style scoped></style>
