<template>
  <div id="projectsthumbs">
    <router-link
      v-for="(item, index) in collabs"
      :to="'/collaborations/' + item.slug"
      :key="item.slug + '_' + index"
    >
      <img
        class="img-circle"
        :src="item.fields.thumb"
        @click="SwitchCollab(index)"
        alt="image"
      />
    </router-link>
  </div>
</template>

<script>
export default {
  name: "CollabsThumbs",
  computed: {
    collabs() {
      return this.$store.getters.collabsByLang();
    }
  },
  methods: {
    SwitchCollab(index) {
      this.$store.commit("setCurrentCollab", index);
    }
  }
};
</script>

<style scoped lang="scss">
#projectsthumbs {
  display: inline-block;
  padding-top: 120px;
  overflow: scroll;

  .img-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 40px;
    margin-bottom: 12px;
  }
}

@media (max-width: 700px) {
  #projectsthumbs {
    display: none;
  }
}
</style>
