<template>
  <div id="contactdetails">
    <div v-if="page.fields.logo">
      <img id="logo" :src="page.fields.logo" alt="34co" />
      <div class="headline">{{ page.fields[headline] }}</div>
      <div class="content">
        <div class="big-bullet"></div>
        <div class="content-text">{{ page.fields.phone }}</div>
      </div>
      <div class="content">
        <div class="big-bullet"></div>
        <div class="content-text">{{ page.fields.email }}</div>
      </div>
      <div class="headline">{{ page.fields[socials_headline] }}</div>
      <div
        class="social-thumb"
        v-for="social in page.fields.social"
        :key="social.link"
      >
        <a :href="social.link">
          <img class="img-circle" :src="social.logo" alt="social" />
        </a>
      </div>
      <div class="headline">{{ page.fields[address_headline] }}</div>
      <div class="content">
        <div class="big-bullet"></div>
        <div class="address">{{ page.fields[address] }}</div>
      </div>
    </div>
    <Spinner v-else></Spinner>
  </div>
</template>

<script>
import { butter } from "@/buttercms";
import Spinner from "./Spinner";
export default {
  name: "ContactDetails",
  components: { Spinner },
  data() {
    return {
      page: {
        slug: "",
        fields: {}
      }
    };
  },
  computed: {
    langSuffix() {
      let suffix = "";
      if (this.$store.state.language === "en") {
        suffix = "_en";
      }
      return suffix;
    },
    headline() {
      return "headline" + this.langSuffix;
    },
    socials_headline() {
      return "socials_headline" + this.langSuffix;
    },
    address_headline() {
      return "address_headline" + this.langSuffix;
    },
    address() {
      return "address" + this.langSuffix;
    }
  },
  methods: {
    getPage() {
      butter.page
        .retrieve("*", "contact")
        .then(res => {
          console.log(res.data.data);
          this.page = res.data.data;
        })
        .catch(res => {
          console.log(res);
        });
    }
  },
  created() {
    this.getPage();
  }
};
</script>

<style scoped lang="scss">
#contactdetails {
  display: inline-block;
  max-width: 750px;
  font-weight: 500;
  font-size: 25px;
}

#logo {
  width: 100px;
}

.headline {
  font-weight: 300;
  font-size: 16px;
  margin-top: 48px;
  margin-bottom: 15px;
  color: #939393;
}

.content {
  position: relative;
  min-height: 35px;
  margin-bottom: 20px;

  .big-bullet {
    position: absolute;
    width: 35px;
    height: 35px;
    background: black;
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);
  }

  .content-text {
    position: absolute;
    margin-left: 50px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .address {
    position: absolute;
    display: inline-block;
    left: 50px;
  }
}

.social-thumb {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  /*border-radius: 50%;*/
  /*border: 2px solid black;*/
}

.img-circle {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {
  #contactdetails {
    font-size: 16px;
  }
  #logo {
    width: 64px;
  }

  .headline {
    font-size: 10px;
    margin-top: 25px;
  }
  .content {
    min-height: 20px;
    margin-bottom: 12px;
    .big-bullet {
      width: 20px;
      height: 20px;
    }

    .content-text {
      margin-left: 30px;
    }

    .address {
      position: absolute;
      margin-left: 30px;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .social-thumb {
    width: 30px;
    height: 30px;
  }
}
</style>
