<template>
  <div>
    <h2>{{ write_us[lang] }}</h2>
    <form
      action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSflN7B9orvJrvHjn5wqSNLdh2QMm9_lzh3BYc961JoKQaKnYw/formResponse"
      method="POST"
      target="_blank"
      onsubmit="submitted=true;"
    >
      <input
        class="input-text"
        type="text"
        :placeholder="FIO[lang]"
        name="entry.2106174927"
        required
      />
      <input
        class="input-text"
        type="text"
        :placeholder="phone[lang]"
        name="entry.932294445"
        required
      />
      <textarea
        class="input-text--long"
        type="text"
        :placeholder="tech_spec[lang]"
        name="entry.478082387"
      ></textarea>
      <input
        class="input-text"
        type="text"
        :placeholder="link_to_tech_spec[lang]"
        name="entry.1909781361"
      />
      <input class="submit-button" type="submit" :value="send[lang]" />
    </form>
    <!--    <iframe-->
    <!--      name="hidden_iframe"-->
    <!--      id="hidden_iframe"-->
    <!--      style="display:none;"-->
    <!--      onload="if(submitted){window.location='https://34company.com';}"-->
    <!--    ></iframe>-->
    <MadeBy id="made-by"></MadeBy>
  </div>
</template>

<script>
import MadeBy from "./MadeBy";
export default {
  name: "ContactForm",
  components: { MadeBy },
  data: () => ({
    write_us: {
      ru: "Напишите нам",
      en: "Write us"
    },
    FIO: {
      ru: "ФИО",
      en: "Full name"
    },
    phone: {
      ru: "Контактный телефон",
      en: "Phone"
    },
    tech_spec: {
      ru:
        "Опишите ваш проект. Если у вас есть техническое задание — прикрепите ниже ссылку на него",
      en:
        "Describe your project. If you have a technical task — attach a link to it below"
    },
    link_to_tech_spec: {
      ru: "Ссылка на ваше ТЗ (если есть)",
      en: "Link to terms of reference"
    },
    send: {
      ru: "Отправить",
      en: "Send"
    }
  }),
  computed: {
    lang() {
      return this.$store.state.language;
    }
  }
};
</script>

<style scoped lang="scss">
#contactform {
  display: inline-block;
}
h2 {
  margin-bottom: 30px;
}

#made-by {
  margin-top: 70px;
}

.input-text {
  display: block;
  min-width: 300px;
  min-height: 50px;
  width: 90%;
  border-radius: 25px;
  padding-left: 25px;
  border: 1px solid #cecece;
  margin-bottom: 30px;
  color: #939393;
}

.input-text--long {
  display: block;
  min-width: 300px;
  min-height: 150px;
  width: 90%;
  border-radius: 25px;
  padding-left: 25px;
  padding-top: 15px;
  border: 1px solid #cecece;
  margin-bottom: 30px;
  color: #939393;
}

.submit-button {
  width: 280px;
  height: 80px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 50);
  border: none;
  border-radius: 40px;
  color: #272727;
  font-weight: 500;
  font-size: 25px;
}

.content {
  position: relative;
  min-height: 35px;
  margin-bottom: 20px;

  .big-bullet {
    position: absolute;
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
  }

  .content-text {
    position: absolute;
    margin-left: 50px;
    top: 50%;
    transform: translate(0, -50%);
    color: #939393;
  }
}

@media (max-width: 700px) {
  h2 {
    font-size: 16px;
  }

  .submit-button {
    width: 180px;
    height: 35px;
    font-size: 16px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
  }
}
</style>
