<template>
  <div class="mt-5 mb-1">
    <small>© 34co. 2018-{{ CurrentYear() }}</small>
  </div>
</template>

<script>
export default {
  name: "FooterComp",
  methods: {
    /**
     * @return {number}
     */
    CurrentYear() {
      return new Date().getFullYear();
    }
  }
};
</script>

<style scoped></style>
