<template>
  <div class="mb-3">
    <small class="text-primary">
      Сделал
      <a :href="linktodev" class="" target="_blank">Валюшицкий</a>
    </small>
  </div>
</template>

<script>
export default {
  name: "MadeBy",
  data() {
    return { linktodev: "http://valyushitskiy.com" };
  }
};
</script>

<style scoped></style>
