<template>
  <div>
    <div id="menucircle" @click="ToggleMenu"></div>
    <transition name="fade">
      <div>
        <div id="menuback" ref="box">
          <div id="menuitems">
            <b-link
              v-for="(menuitem, index) in menuitems[Lang()]"
              :key="menuitem.name"
              :menuitem="menuitems[index]"
              :to="menuitem.path"
              class="menuitem"
              @click="ToggleMenu"
            >
              {{ menuitem.name }}
            </b-link>
          </div>
          <div id="locale-buttons">
            <div :class="IsCurrentLang('ru')" @click="SetLang('ru')">РУ</div>
            <div :class="IsCurrentLang('en')" @click="SetLang('en')">EN</div>
          </div>
        </div>
        <div v-if="show" id="invisible-part" @click="ToggleMenu"></div>
      </div>
    </transition>
  </div>
</template>

<script>
import gsap from "gsap";

export default {
  name: "Menu",
  data: () => ({
    show: false,
    RU: true,
    menuitems: {
      ru: [
        {
          name: "Главная",
          path: "/"
        },
        {
          name: "Проекты",
          path: "/projects"
        },
        {
          name: "Услуги",
          path: "/service"
        },
        {
          name: "Команда",
          path: "/team"
        },
        {
          name: "Контакты",
          path: "/contact"
        },
        {
          name: "Партнёры",
          path: "/partners"
        },
        {
          name: "34co.llabs",
          path: "/collaborations"
        }
      ],
      en: [
        {
          name: "Main",
          path: "/"
        },
        {
          name: "Projects",
          path: "/projects"
        },
        {
          name: "Service",
          path: "/service"
        },
        {
          name: "Team",
          path: "/team"
        },
        {
          name: "Contact",
          path: "/contact"
        },
        {
          name: "Partners",
          path: "/partners"
        },
        {
          name: "34co.llabs",
          path: "/collaborations"
        }
      ]
    }
  }),
  methods: {
    SetLang(lang) {
      this.$store.commit("setLang", lang);
    },
    /**
     * @return {string}
     */
    IsCurrentLang(lang) {
      const currentLang = this.Lang();
      if (currentLang === lang) {
        return "current";
      } else {
        return "";
      }
    },
    Lang() {
      return this.$store.state.language;
    },
    ToggleMenu() {
      this.show = !this.show;
      this.Animate();
    },
    Animate() {
      if (this.show) {
        gsap
          .timeline()
          .to("#menucircle", {
            scale: 1.1,
            borderStyle: "dotted",
            ease: "back"
          })
          .to("#menuback", {
            xPercent: 100,
            duration: 0.5,
            ease: "back"
          });
      } else {
        gsap
          .timeline()
          .to("#menucircle", {
            scale: 1,
            borderStyle: "solid",
            ease: "back"
          })
          .to("#menuback", {
            xPercent: 0,
            duration: 0.5,
            ease: "back"
          });
      }
    }
  }
};
</script>

<style scoped lang="scss">
#menucircle {
  z-index: 995;
  position: fixed;
  top: 40px;
  left: 40px;
  width: 52px;
  height: 52px;
  border: 3px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
#menuback {
  z-index: 989;
  position: fixed;
  top: 0;
  left: -220px;
  width: 220px;
  height: 100%;
  background-color: white;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
}

#invisible-part {
  z-index: 989;
  position: fixed;
  top: 0;
  left: 220px;
  width: 100%;
  height: 100%;
}

#menuitems {
  margin-top: 162px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 300;
}
.menuitem {
  display: block;
  color: black;
  margin-bottom: 40px;
}

.menuitem:hover {
  text-decoration: none;
  font-weight: bold;
}

#locale-buttons {
  margin-top: 70px;
  margin-left: 40px;
  div {
    display: inline-block;
    margin-right: 12px;
    font-weight: 300;
    color: #939393;
    cursor: pointer;
  }
  .current {
    color: coral;
    font-weight: 700;
  }
}

.router-link-exact-active {
  font-weight: bold;
}
@media (max-width: 700px) {
  #menucircle {
    top: 17px;
    left: 17px;
    width: 34px;
    height: 34px;
    border: 2px solid black;
  }
  #menuback {
    left: -140px;
    width: 140px;
  }
  #menuitems {
    margin-top: 120px;
    margin-left: 16px;
    font-size: 14px;
  }
  .menuitem {
    margin-bottom: 25px;
  }
  #invisible-part {
    left: 140px;
  }
}
</style>
