<template>
  <div class="mt-4 mb-4">
    <!--    <h4 class="mb-4">Телефоны</h4>-->
    <div
      v-for="(phone, index) in phones"
      :key="phone.number"
      :phone="phones[index]"
    >
      <p class="mt-3 font-weight-bold">{{ phone.name }}:</p>
      <p class="mt-1">{{ phone.number }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "PhoneNumbers",
  data: () => ({
    phones: [
      {
        name: "Дирекция",
        number: "+7 911 270 78 52"
      },
      {
        name: "Бухгалтерия",
        number: "+7 911 080 18 91"
      },
      {
        name: "Юридический отдел",
        number: "+7 911 953 38 99"
      }
    ]
  })
};
</script>

<style scoped>
p {
  margin-bottom: 0px;
  margin-top: 0px;
}
</style>
