<template>
  <div id="projectsthumbs">
    <router-link
      v-for="(item, index) in projects"
      :to="'/projects/' + item.slug"
      :key="item.slug + '_' + index"
    >
      <b-img-lazy
        class="img-circle not-current"
        :src="item.fields.thumb"
        @click="SwitchProject(index)"
        alt="image"
        :title="item.fields.headline"
        blank="true"
        blankColor="#bbb"
      />
    </router-link>
  </div>
</template>

<script>
export default {
  name: "ProjectsThumbs",
  computed: {
    projects() {
      return this.$store.getters.projectsByLang();
    },
    currentProject() {
      return this.$store.state.currentproject;
    }
  },
  methods: {
    SwitchProject(index) {
      this.$store.commit("setCurrent", index);
      this.AddClasses(index);
    },
    /**
     * @return {string}
     */
    AddClasses(index) {
      return index === this.currentProject
        ? "img-circle"
        : "img-circle not-current";
    }
  }
};
</script>

<style scoped lang="scss">
#projectsthumbs {
  display: inline-block;
  padding-top: 120px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .img-circle {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 40px;
    margin-bottom: 12px;
  }

  .not-current {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}

#projectsthumbs::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

@media (max-width: 700px) {
  #projectsthumbs {
    display: none;
  }
}
</style>
