<template>
  <div class="mb-4">
    <p>консалтинг</p>
    <p>производство декораций | костюмов | реквизита | мебели</p>
    <p>поставка театрального оборудования | материалов ⠀</p>
    <p>проекты: музейные | театральные | etc</p>
  </div>
</template>

<script>
export default {
  name: "ServiceList"
};
</script>

<style scoped></style>
