<template>
  <div id="slider">
    <img
      :src="slides[SlideIndex()].image"
      alt="image"
      v-touch:swipe.left="onSwipeLeft"
      v-touch:swipe.right="onSwipeRight"
    />
    <div id="bullets">
      <div
        v-for="(item, index) in slides"
        :key="item.image"
        :class="AddClasses(index)"
        @click="ChangeSlide(index)"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Slider",
  data() {
    return {
      show: false
    };
  },
  props: {
    slides: Array
  },
  methods: {
    /**
     * @return {string}
     */
    AddClasses(index) {
      if (index === this.SlideIndex()) {
        return "bullet current";
      } else {
        return "bullet";
      }
    },
    onSwipeLeft() {
      let newIndex = 0;
      if (this.SlideIndex() !== this.slides.length - 1) {
        newIndex = this.SlideIndex() + 1;
      }
      this.$store.commit("changeIndex", newIndex);
    },
    onSwipeRight() {
      let newIndex = this.slides.length - 1;
      if (this.SlideIndex() > 0) {
        newIndex = this.SlideIndex() - 1;
      }
      this.$store.commit("changeIndex", newIndex);
    },
    /**
     * @return {number}
     */
    SlideIndex() {
      return this.$store.state.slideindex;
    },
    ChangeSlide(index) {
      this.$store.commit("changeIndex", index);
    }
  }
};
</script>

<style scoped lang="scss">
#slider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;

  img {
    object-fit: contain;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

#bullets {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}
.bullet {
  display: inline-block;
  background-color: #939393;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 8px;
}
.current {
  background: black;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 50);
}

@media (max-width: 700px) {
  #slider {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #bullets {
    bottom: 90px;
  }
}
</style>
