<template>
  <b-container>
    <b-link href="https://www.instagram.com/34company/" target="_blank">
      <svg id="instlogo" viewBox="0 0 512 512" style="margin-top: 12px">
        <g fill="#A7A7A7">
          <path
            d="M505 257c0 35.8.1 71.6 0 107.5-.2 52-24.4 90.5-67.6 117.7C412.1 498 384 505 354.2 505c-65.2 0-130.3.3-195.5-.1-45.3-.3-84.3-16.3-115.2-49.9-19.1-20.8-30.5-45.3-33.8-73.6-.7-6-.8-11.9-.8-17.9 0-71.3-.1-142.6 0-213.9C9.2 97.5 33.4 59 76.6 31.8 102.1 15.9 130.3 9 160.3 9c65 0 130-.3 195 .1 45.5.3 84.6 16.4 115.5 50.2 18.9 20.7 30.2 45.2 33.4 73.2 1.3 11 .7 22 .8 32.9.1 30.6 0 61.1 0 91.6zm-459 0c0 36.7-.1 73.3 0 110 .1 25.2 9.3 46.9 26.5 64.9 23.1 24.1 51.9 35.8 85 36 65.7.4 131.3.1 197 .1 21.2 0 41.4-4.6 59.8-15.2 34.4-19.7 53.8-48.7 53.8-89.3V147c0-25-9.1-46.6-26.2-64.5-22.9-24.2-51.8-36.1-84.8-36.3-66.4-.5-132.7-.2-199.1-.2-20.7 0-40.3 4.9-58.3 15.1-34.3 19.8-53.8 48.8-53.7 89.4V257z"
          />
          <path
            d="M257.3 363c-64.6 0-116.4-51.6-116.3-116 .1-62.7 52.6-114.1 116.7-114 64.4 0 116.4 51.7 116.3 115.5-.1 63.2-52.4 114.5-116.7 114.5zm0-37c43.9 0 79.7-34.9 79.7-77.8 0-43.1-35.5-78.2-79.3-78.2-43.9 0-79.7 34.9-79.7 77.8 0 43.1 35.5 78.2 79.3 78.2zM363 123.6c0-14.2 10.9-25.6 24.5-25.6s24.5 11.5 24.5 25.6c0 13.9-10.9 25.3-24.3 25.4-13.6.1-24.7-11.2-24.7-25.4z"
          />
        </g>
      </svg>
    </b-link>
  </b-container>
</template>

<script>
export default {
  name: "SocialNetworks"
};
</script>

<style scoped>
#instlogo {
  width: 26px;
  height: 26px;
}
path {
  fill: #babec2;
}
</style>
