<template>
  <div id="spinner" class="text-center">
    <img src="../assets/spinner.gif" alt="loading..." />
  </div>
</template>

<script>
export default {
  name: "Spinner"
};
</script>

<style scoped>
#spinner {
  z-index: 998;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 100px;
}
</style>
